---

# This page name will go in the page title
title: Home

# In the _layouts folder
layout: default

# Page config
navbar_bg: transparent
local_scripts:
  - assets/js/lib/jquery.waypoints.min.js
  - assets/js/homepage.js
---

<section class="section" id="section-hero">
  <div class="container">
  <!-- <div class="container">
    <div class="row justify-content-center centered">
      <div class="col-sm-6 col-xs-9"> -->

      <div class="container d-flex h-100">
          <div class="row justify-content-center align-self-center centered">
           <h1>Find your place in the tech world</h1>
           <p>
             Tech Transparency seeks to make jobs in tech accessible to people
             from all backgrounds and all walks of life.
           </p>
           <a class="btn btn-primary btn-lg" href="#section-after-hero">
             Learn more
           </a>
          </div>
      </div>

      <!-- </div>
    </div> -->
  </div>
</section>

<section class="section" id="section-after-hero">
  <div class="container">
    <h2 class="text-info centered">About</h2>

    <p>
      There is a major misconception that you need to be an engineer to work in Silicon Valley.
      But according to LinkedIn, there are
      over 300,000 nontechnical jobs in tech in the United States alone. However, if
      you don't know someone already in the tech industry, it's very hard to learn
      about these roles, much less get one of them. Our goal is to make tech more transparent.
    </p>
    <p>
      Tech Transparency aims to provide free resources which help those interested in navigate through the four core stages of getting a job in the tech industry:
    </p>

    <div class="row justify-column-center">
      {% for step in site.data.job_hunt_steps %}
      <div class="col">
        <a href="{{ step.url}}">
          <div class="card">
            <img class="card-img-top" src="{{site.baseurl}}/assets/img/resources/{{ step.image }}" alt="{{ step.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ step.name }}</h5>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section">
  <div class="container">

    <h2 class="text-info">Success Stories</h2>

    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      {% for testimonial in site.data.testimonials %}
        {% assign active_class = "" %}
        {% if forloop.first == true %}
          {% assign active_class = "active" %}
        {% endif %}
        <li data-target="#testimonial-carousel" data-slide-to="{{ forloop.index0 }}" class="{{ active_class }}"></li>
      {% endfor %}
    </ol>
    <div class="carousel-inner">
      {% for testimonial in site.data.testimonials %}
        {% assign active_class = "" %}
        {% if forloop.first == true %}
          {% assign active_class = "active" %}
        {% endif %}
        <div class="carousel-item {{ active_class }}">
          <img class="d-block w-100" src="{{ site.baseurl }}assets/img/people/{{ testimonial.image }}" alt="{{ testimonial.name }}">
          <div class="carousel-caption d-none d-md-block carousel-caption-shadowed">

            <p>"{{ testimonial.quote }}"</p>
            <h5>— {{ testimonial.name }}</h5>
          </div>
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <h2 class="text-info">Join our community</h2>

  </div>
</section>
