---

# This page name will go in the page title
title: Resources

# In the _layouts folder
layout: default
---

<section class="section">
  <div class="container">
    <div class="section">
      <h2>1. Choosing a Role</h2>
      <hr class="mini-divider" />

      <div class="container">
        <div class="row">
          {% for role in site.data.roles %}
          <div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="{{site.baseurl}}/assets/img/resources/{{ role.image }}" alt="{{ role.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ role.name }}</h5>
                <p class="card-text">
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="section">
      <h2>2. Choosing a Company</h2>
      <hr class="mini-divider" />

      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="{{site.baseurl}}/assets/img/resources/job-list.jpg" alt="Job List">
              <div class="card-body">
                <h5 class="card-title">Job List</h5>
                <p class="card-text">
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="{{site.baseurl}}/assets/img/resources/explore-companies.jpg" alt="Explore Companies">
              <div class="card-body">
                <h5 class="card-title">Explore Companies</h5>
                <p class="card-text">
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h2>3. Getting the Interview</h2>
      <hr class="mini-divider" />

      <div class="container">
        <div class="row">
          {% for resource in site.data.interview_resources %}
          <div class="col-sm">
            <div class="card">
              <img class="card-img-top" src="{{site.baseurl}}/assets/img/resources/{{ resource.image }}" alt="{{ resource.name }}">
              <div class="card-body">
                <h5 class="card-title">{{ resource.name }}</h5>
                <p class="card-text">
                </p>
                <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>


        <div class="section">
          <h2>4. Acing the Interview</h2>
          <hr class="mini-divider" />

          <div class="container">
            <div class="row">
              <div class="col-sm">
                <div class="card">
                  <img class="card-img-top" src="{{site.baseurl}}/assets/img/resources/interview-tips.jpg" alt="Interview Tips">
                  <div class="card-body">
                    <h5 class="card-title">Interview Tips</h5>
                    <p class="card-text">
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


  </div>
</section>
