---
# This page name will go in the page title
title: Resources
# In the _layouts folder
layout: default

permalink: /resources
---

<section class="section" id="role">
    <h2>1. Choosing a Role</h2>
    <hr class="mini-divider" />

    <div class="container">
      <div class="row resource-row justify-content-center">
        {% for resource in site.data.resources.choosing_role %} {% include resource_card.html %} {% endfor %}
      </div>
    </div>
</section>

<section class="section" id="company">
  <h2>2. Choosing a Company</h2>
  <hr class="mini-divider" />

  <div class="container">
    <div class="row resource-row justify-content-center">
      {% for resource in site.data.resources.choosing_company %} {% include resource_card.html %} {% endfor %}
    </div>
  </div>
</section>

<section class="section" id="interview">
  <h2>3. Getting the Interview</h2>
  <hr class="mini-divider" />

  <div class="container">
    <div class="row resource-row justify-content-center">
      {% for resource in site.data.resources.getting_interview %} {% include resource_card.html %} {% endfor %}
    </div>
  </div>
</section>


<section class="section" id="offer">
  <h2>4. Getting the Offer</h2>
  <hr class="mini-divider" />

  <div class="container">
    <div class="container">
      <div class="row resource-row justify-content-center">
        {% for resource in site.data.resources.getting_offer %} {% include resource_card.html %} {% endfor %}
      </div>
    </div>
  </div>
</section>
