

    <!-- Footer
      TODO: fix links-->
    <footer id="footer" class="section section-dark">
      <div class="container centered">

        <p>
          Copyright &copy; 2019 Tech Transparency.
        </p>
      </div>
    </footer>

    <!-- Scripts -->
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]
      <script src="assets/js/main.js"></script> -->
      {% for script in page.external_scripts %}
        <script src="{{ script }}"></script>
      {% endfor %}
      {% for script in page.local_scripts %}
        <script src="{{ site.baseurl }}/{{ script }}"></script>
      {% endfor %}
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>

  </body>

  </html>
