<!doctype html>
<html>

<head>
  <title>
    {% if page.title %}{{ page.title }} |{% endif %}
    {{ site.name }}
  </title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta property="og:title" content="{{ site.name }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.deployed_url }}" />
  <meta property="og:image" content="{{ site.baseurl }}{{ site.preview_image }}" />
  <meta property="og:description" content="{{ site.description }}" />

  <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]
    <link rel="stylesheet" href="assets/css/main.css" />
    [if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{site.baseurl}}/assets/bootstrap/css/bootstrap.min.css" />

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="{{ site.baseurl }}/assets/bootstrap/js/bootstrap.min.js"></script>


  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


  <!-- custom css. we actually store it as SCSS, but it is auto-compiled to CSS. -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/custom.css">

  <!-- favicon -->
  <link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/img/favicon.png">
</head>

<body>

  <!-- Nav Bar -->
  {% if page.navbar_bg %}
    {% assign navbar_bg = page.navbar_bg %}
  {% else %}
    {% assign navbar_bg = "light" %}
  {% endif %}
  <div class="navbar fixed-top navbar-expand-md navbar-light bg-{{ navbar_bg }}" id="main-navbar">
    <a class="navbar-brand" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logo-large.png" width="45" height="45"
        class="d-inline-block align-top" alt="{{ site.name }}">
      {{ site.name }}
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        {% for page in site.data.pages %}
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}{{ page.url }}">
              {{ page.name}}
            </a>
          </li>
        {% endfor %}
    </div>

  </div>
