<!--
  Pass an object called `resource`, which has these fields:
    image
    name

-->
<div class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch">
  <div class="card resource-card">
    <img class="card-img-top" src="{{site.baseurl}}/assets/img/resources/{{ resource.image }}" alt="{{ resource.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ resource.name }}</h5>
      <p class="card-text">
      </p>
      <a href="#" class="btn btn-primary btn-block">Read More</a>
    </div>
  </div>
</div>
