<!--
  Pass an object called `resource`, which has these fields:
    image
    name

-->
<div class="col-lg-3 col-sm-6 col-12 d-flex align-items-stretch">
  <div class="card resource-card">
    <img class="card-img-top" src="{{site.baseurl}}/assets/img/resources/{{ resource.image }}" alt="{{ resource.name }}">
    <div class="card-body">
      <h5 class="card-title">{{ resource.name }}</h5>
      <p class="card-text">
      </p>
      {% assign url = "" %}
      {% if resource.url %}
        {% if resource.external %}
          {% assign url = resource.url %}
        {% else %}
          {% capture url %}
            {{ site.baseurl }}/{{ resource.url }}
          {% endcapture %}
        {% endif %}
        <a href="{{ url }}" class="btn btn-primary btn-block" target="_blank">Read More</a>
      {% else %}
        <a href="" class="btn btn-secondary btn-block disabled" disabled>Coming Soon</a>
      {% endif %}
    </div>
  </div>
</div>
