---
title: Job List
layout: default
permalink: joblist
---


<div class="container main-container">
  <div class="row">
    <div class="col-md-4 d-none d-sm-block">
      <div id="job-scrollspy" class="list-group">
        {% for company in site.data.jobs %}
        <a class="list-group-item list-group-item-action smooth-scroll" href="#{{ company.slug }}">
              {{ company.company }}
            </a>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-8 spied" data-spy="scroll" data-target="#job-scrollspy" data-offset="80">
      <h1>Best Business-Side Jobs at Tech Companies</h1>

      <p>
        Here's Tech Transparency's list the best non-technical roles available at tech companies.
      </p>


      <em>
          <p>
            Note: the application for some of these jobs is only open during certain times of the year. If a job is closed, we've tried to include a link to the best place to find the job once it opens.
          </p>
          <p>
            We did our best to make this list as comprehensive as possible, but there are always more jobs that we couldn't fit here. If there is a tech company you are interested in that’s not on this list, it doesn’t mean they aren’t hiring. Go to their career page and explore!
          </p>
      </em>

      <div class="d-block d-sm-none">
        <div class="list-group">
          {% for company in site.data.jobs %}
          <a class="list-group-item list-group-item-action smooth-scroll" href="#{{ company.slug }}">
                {{ company.company }}
              </a>
          {% endfor %}
        </div>
      </div>


      <hr />


      {% for company in site.data.jobs %}
      <section class="section" id="{{ company.slug }}">
        <h2 class="text-info">{{ company.company }}</h2>


        {% for job in company.jobs %}

        <div class="card card-stacked">
          <div class="card-body">
            <h3 class="card-title">{{ job.role }}</h3>
            <p class="card-text">
              <p>
                {{ job.description }}
              </p>

            </p>
            <a href="{{ job.url }}" target="_blank" class="btn btn-primary">
                          Learn more &amp; Apply
                      </a>
          </div>


        </div>

        {% endfor %}

      </section>
      {% endfor %}

    </div>
  </div>
</div>
